/* Svg */
#sealBtn svg{
 display:inline-block;
 transform:translatex(0px) translatey(0px) !important;
}

/* Active */
#home .active{
 padding-bottom:24px;
 margin-bottom:2px;
 height:397px;
 transform:translatex(0px) translatey(0px);
 padding-top:31px;
}

/* Countdown section */
#invitation .countdown-section{
 transform:translatex(0px) translatey(0px);
 padding-bottom:17px;
 padding-top:0px;
}

/* Heading */
#rsvp .active h2{
 transform:translatex(0px) translatey(-54px);
 height:68px;
}

/* Paragraph */
#rsvp .section-header p{
 transform:translatex(0px) translatey(-47px);
}

/* Section header */
#rsvp .active .section-header{
 transform:translatex(-4px) translatey(-35px);
 padding-top:25px;
 margin-bottom:0px;
}

/* Active */
#rsvp .active{
 transform:translatex(-4px) translatey(-35px);
 height:827px;
}

/* Divider */
#rsvp .active .divider{
 width:201px;
 height:1px;
 min-width:395px;
 max-width:0px;
 min-height:0px;
 padding-left:0px;
 padding-top:0px;
 padding-bottom:0px;
 margin-top:-39px;
 margin-bottom:16px;
}

/* Rsvp form */
#rsvpForm{
 transform:translatex(-4px) translatey(-35px);
}

/* Submit */
#rsvpForm .btn-submit{
 transform:translatex(161px) translatey(0px);
 padding-top:12px;
}

/* Rsvp */
#rsvp{
 padding-top:61px;
 padding-bottom:0px;
}

/* Footer */
#invitation .footer{
 padding-top:0px !important;
 padding-bottom:0px !important;
}

/* Active */
#details .container > .active:nth-child(1){
 margin-bottom:0px;
 padding-bottom:12px;
}

#details .active .divider{
 display:none;
}

/* Details */
#details{
 padding-top:29px;
}

/* Countdown label */
.countdown-section .countdown-label{
 margin-bottom:19px;
}

/* Home */
#home{
 height:716px;
}

@media (max-width:768px){

 /* Active */
 #details .details-grid .active{
  padding-bottom:0px;
  height:321px;
  padding-top:9px;
  width:450px;
 }
 
}
